<%- include('./partials/admin-header.ejs') %>

<body>
    <%- include('./partials/admin-nav.ejs') %>
    <h3 class="text-center">500</h3>
    <h4 class="text-center">Server Error</h4>

    <%- include('./partials/admin-footer.ejs') %>
</body>

</html>